.return-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-message {
  font-size: 3rem;
  text-align: center;
}

.return-button {
  margin-top: 2rem;
  width: 80%;
}

.not-found-image {
  max-height: 40vh;
}
